# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Databases
*.sqlite3
*.db

# Ignore Virtual Environment
venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore OS/system files
.DS_Store
Thumbs.db
