{% extends "layout.html" %}

{% block title %}
    Edit Collaborator
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mb-4">Edit Collaborator</h1>

        <form action="/update-collaborator/{{ collaborator.id }}" method="POST">
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type" value="{{ collaborator.type }}" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ collaborator.name }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="{{ collaborator.description }}" required>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control" id="contact" name="contact" value="{{ collaborator.contact }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Collaborator</button>
        </form>
    </div>
{% endblock %}
