{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Welcome, {{ current_user.username }}</h1>
    <h3>Submit a Link</h3>
    <form action="/submit-link" method="POST">
        <input type="url" class="form-control" name="url" placeholder="Enter a URL" required>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>

    <h3>Recent Links</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{ link.title }}</td>
                <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
                <td>{{ link.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}